<!-- Table or card grid of all countries. Each row/card shows name, region, and key stats. Clickable to go to specific
     country detail page. Region filter dropdown or search bar at top to narrow the list-->
{% extends 'base.html' %}

{% block title %}List of Countries{% endblock %}

{% block content %}
    <!-- Dynamic header -->
    {% if current_region %}
        <h1>Countries in {{ current_region }}</h1>
    {% elif current_search %}
        <h1>Search Results for "{{ current_search }}"</h1>
    {% else %}
        <h1>Countries</h1>
    {% endif %}

    <!-- Search functionality -->
    <form method="GET" action="/countries">
        <input type="text" name="search" placeholder="Search countries...">
        <button type="submit">Search</button>
    </form>

    <!-- Filtering by region functionality -->
    <form method="GET" action="/countries">
        <select name="region">
            <option value="">All Regions</option>
            {% for region in regions %}
                <option value="{{ region['region'] }}">{{ region['region'] }}</option>
                    {{ 'selected' if current_region == region['region'] }}>
                    {{ region['region'] }}
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <!-- Countries printout -->
    {% for country in countries %}
        <p><a href="{{ url_for('country', iso_code=country['iso_code']) }}">
            {{ country['name'] }}
        </a></p>
    {% endfor %}
{% endblock %}