<!-- Everything I have on said country. All columns from all four tables -->
{% extends 'base.html' %}

{% block title %}{{ country['name' ]}} Data{% endblock %}

{% block content %}
    <h1>{{ country['name'] }}</h1>
    <p>Region: {{ country['region'] if country['region'] else 'N/A' }}</p>
    <p>Area: {{ "{:,}".format(country['area']) if country['area'] else 'N/A' }} km²</p>
    <h2>Economic Data</h2>
    <p>GDP: ${{ "{:,}".format(country['gdp']) if country['gdp'] else 'N/A' }}</p>
    <p>GDP Per Capita: ${{ "{:,}".format(country['gdp_per_capita']) if country['gdp_per_capita'] else 'N/A' }}</p>
    <p>Inflation: {{ country['inflation'] if country['inflation'] else 'N/A' }}%</p>
    <p>Unemployment: {{ country['unemployment'] if country['unemployment'] else 'N/A' }}%</p>
    <h2>Other Indicators</h2>
    <p>Population: {{ "{:,}".format(country['population']) if country['population'] else 'N/A' }}</p>
    <p>HDI: {{ country['hdi'] if country['hdi'] else 'N/A' }}</p>
    <p>Life Expectancy: {{ country['life_expectancy'] if country['life_expectancy'] else 'N/A' }} years</p>
    <p>Literacy Rate: {{ country['literacy_rate'] if country['literacy_rate'] else 'N/A' }}%</p>
{% endblock %}